<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infinityapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReservationSummery"></activity>
        <activity android:name=".Edit_movie_activity" />
        <activity android:name=".BuyTicket" />
        <activity android:name=".SelectTheaterSeats" />
        <activity android:name=".SelectDateTime" />
        <activity android:name=".SelectMovie" />
        <activity android:name=".MainActivity_Tharik" />
        <activity android:name=".MuserMyaccount" />
        <activity android:name=".userEditProfile" />
        <activity android:name=".mforgotpassword2" />
        <activity android:name=".mforgotpassword" />
        <activity android:name=".Mregister" />
        <activity android:name=".MovieAdminPage" />
        <activity android:name=".HomePage" />
        <activity android:name=".Admin_logn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".InsertRowActivity" />
        <activity android:name=".DeleteRowsActivity" />
        <activity android:name=".UpdateRowsActivity" />
        <activity android:name=".Block_user_activity" />
        <activity android:name=".Text_user_activity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".Infinity_Edit_profile_Activity" />
    </application>

</manifest>